#bloco{
  width: 25vw;
  padding-right: 15px;
  padding-left:15px ;
}
#carrousel{
  width: 30vw;
 }
#car1{
  display: flex;
  flex-direction: row;
}
#img_celula{
  width: 40vw;
}
#img_celula1{
  width: 30vw;
}
#proposta{
  background-color: #FAA619;
}
#frase1{
  width: 40vw;
}
#frase{
  width: 35vw;
}

#retangulo{
  background-color: #D9D9D9;
  width: 20px;
  height: 300px;
}

@media (max-width: 1100px) {
#carrousel{
 width: 100vw;
}
#bloco{
  width: 65vw;
  padding: 5px;
}
#car1{
  width: 65vw;
  display: flex;
  flex-direction: column;
}
#img_celula{
  width: 50vw;
  padding-bottom: 40px;
}
#frase{
  width: 75vw;
}
#frase1{
  width: 100vw;
  height: min-content;
}
#img_celula1{
  width: 75vw;
  padding-bottom: 20px;
}
  }

  .container{
    text-align: center;
    width: 30vw;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input{
    width: 95%;
    padding: 10px;
    margin: 20px 0px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#loginButton{
  margin: 20px 0px;
    width: 100px;
    height: 30px;
    color: white;
    background-color: #06C755;
    border: 0px;
    transition: 50ms;
}

#loginButton:hover{
    transition: 50ms;
    background-color: #028137;
}

#loginButton::after{
    transition: 50ms;
    background-color: #00200d;
}